#!/usr/bin/env bash
#
# File: start_meatspacechat.sh - startup script for Meatspace Chat
#

# Start Meatspace Chat in the background

. {{ meatspacechat_nvm_dir }}/nvm.sh
nvm use {{ meatspacechat_node_version }}

cd {{ meatspacechat_dir }}

npm start

