#!/usr/bin/env bash
#
# File: start_meatspace_chat.sh - startup script for Meatspace Chat
#

cd {{ meatspace_chat_dir }}

. {{ meatspace_chat_admin }}/.nvm/nvm.sh
nvm use {{ meatspace_chat_node_version }}

npm start

