#!/usr/bin/env bash
#
# File: start_meatspacechat.sh - startup script for Meatspace Chat
#

# Start Meatspace Chat in the background

cd {{ meatspacechat_dir }}

. .nvm/nvm.sh
nvm use {{ meatspacechat_node_version }}

npm start

