#!/usr/bin/env bash
#
# File: start_meatspace-chat.sh - startup script for Meatspace Chat
#

# Start Meatspace Chat in the background

cd {{ meatspace-chat_dir }}

. .nvm/nvm.sh
nvm use {{ meatspace-chat_node_version }}

npm start

