#!/usr/bin/env bash
#
# File: start_meatspace_chat.sh - startup script for Meatspace Chat
#

PATH="$PATH:{{ meatspace_chat_nvm_dir }}/v{{ meatspace_chat_node_version }}/bin"
export PATH

cd {{ meatspace_chat_dir }}

. {{ meatspace_chat_nvm_dir }}/nvm.sh
nvm use {{ meatspace_chat_node_version }}

exec sudo -u {{ meatspace_chat_admin }} npm start

