#!/usr/bin/env bash
#
# File: start_meatspace_chat.sh - startup script for Meatspace Chat
#

# Start Meatspace Chat in the background

cd {{ meatspace_chat_dir }}

. .nvm/nvm.sh
nvm use {{ meatspace_chat_node_version }}

npm start

